.landing {
	position: relative;
	background: url('./assets/landing.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.landing-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.landing-inner form {
	width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
	color: rgb(0, 0, 0);
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* Post button */
.post-button {
	padding-top: 0;
	background: transparent;
	border: none;
}

.post-button:hover {
	background: transparent;
}

a.post-button.btn:focus,
a.post-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

button.post-button.btn:focus,
button.post-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Floating add button */
.btn-floating {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	background: transparent;
	border: none;
}

.btn-floating:hover {
	background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Add new post tooltip */
.tooltip {
	background: transparent;
}

.tooltip .arrow::before {
	border-left-color: #78c2ad;
}

.tooltip-inner {
	background: #78c2ad;
}

/* Post border thicker */
.border-success,
.border-warning,
.border-danger {
	border-width: 2px;
}

/* Post title */
.post-title {
	margin-bottom: 0.5rem;
}
.utew-login-top-header {
  width: 100vw;
  min-height: 188px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #2DCEFF), to(#00B9F2));
  background-image: linear-gradient(-180deg, #2DCEFF 2%, #00B9F2 100%);
}
.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: 90%;
  padding: 40px 70px;
  margin-top: -90px;
}
.grid.main {
  padding: 40px 70px 20px 70px;
}
.main {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
  margin: 0 auto;
  min-height: 0;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -90px;
}
.login-grid {
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.grid.main .ute-title {
  font-size: 32px;
  color: #555555;
  text-align: center;
  max-width: 100%;
  width:100%;
}
.ute-login-sml-text {
  font-size: 20px;
  color: #555555;
  text-align: center;
}
#form-login {
	width: 100%;
}
.form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cOCOrx.menu-homepage {
  padding: 0px 25px;
  height: 60px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.cOCOrx {
  height: 34px;
  background: linear-gradient(270deg, rgb(114, 249, 249) 0%, rgb(49, 167, 246) 100%);
  color: rgb(255, 255, 255);
  padding: 0px 25px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.link-to-dashboard-24 {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
   
}
.link-to-dashboard-24:hover {
  color: rgb(240, 236, 165);
}
.link-to-dashboard-20 {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.kiDCaC.listMenu-homepage {
  margin-left: 74px;
}
.kiDCaC {
  display: grid;
  gap: 0px 50px;
  grid-template-columns: repeat(7, auto);
}
.cpxZcn.rightNavigation-homepage {
  margin-left: auto;
}
.cpxZcn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.iikcZg::after {
  position: absolute;
  content: "";
  top: 0px;
  width: 2px;
  height: 95%;
  opacity: 0.9;
  background: rgb(252, 252, 253);
  margin-left: 2px;
}
.icRRfA.div-login-homepage {
  margin: 0px;
}

.icRRfA.div-no-login {
  width: max-content !important;
}

.icRRfA {
  flex-shrink: 0;
  position: relative;
  margin-left: auto;
  margin-right: 25px;
}
.icRRfA.div-login-homepage .wrapper-user-btn {
  margin-left: 20px;
}
.icRRfA.div-login-homepage .wrapper-user-btn {
  border: 2px solid rgb(205, 247, 247);
  color: rgb(255, 255, 255);
  background: rgb(117, 210, 250);
}
.icRRfA .wrapper-user-btn {
  min-width: 140px;
  max-width: 155px;
}
.icRRfA .wrapper-user-btn {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  height: 44px;
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: max-content;
  
}
.icRRfA.div-login-homepage .wrapper-user-btn .login-text {
  color: rgb(255, 255, 255);
  
}

.icRRfA .wrapper-user-btn .login-text .user-text-noLogin {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  padding: 20px;
}
